.container {
	padding-bottom: 80px;
}

.aboutHeader {
	margin-top: 50px;
	font-size: 1.2em;
}

.paragraph {
	margin-top: 20px;
	font-size: 4rem;
	font-weight: 600;
	max-width: 1400px;
}

@media screen and (max-width: 1080px) {
	.paragraph {
		font-size: 3rem;
	}
}

@media screen and (max-width: 600px) {
	.paragraph {
		font-size: 2rem;
	}
}

@media screen and (max-width: 420px) {
	.paragraph {
		font-size: 1.5rem;
	}
}
