.hero {
    /* position: relative; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	/* max-width: 1800px; */
	min-height: 96vh;
	margin: 0 auto;
	padding-top: 80px;
}

.portraitImage {
    /* position: absolute; */
	opacity: 1;
	width: 200px;
	aspect-ratio: 1/1;
	object-fit: cover;
    pointer-events: none;
    z-index: 2;
    /* top: 140px; */
    border-radius: 8px;

	/* animation: scale 0.5s ease forwards;
	animation-delay: 0.2s; */
	/* border-radius: 10px; */
}

.smallHero {
	display: flex;
	justify-content: space-between;
	opacity: 0;
    z-index: 0;

	animation: fadeInBottom 0.5s ease forwards;
	animation-delay: 0.7s;
}

.smallHero p {
	color: var(--fg);
    font-size: 1.2rem;
}

.bigHero {
	display: flex;
	justify-content: space-between;
	opacity: 0;
	padding: 0;
    z-index: 0;

	animation: fadeInBottom 0.5s ease forwards;
	animation-delay: 0.5s;
}

.bigHero h1 {
	color: var(--fg);
	font-size: 14rem;
	line-height: 1;
}

@keyframes fadeInBottom {
	from {
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale {
	from {
		transform: scale(0.75);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
