li {
    list-style-type: disc;
}

ul {
    padding-left: 2rem;
}

.resume {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 200;
    border: 1px solid var(--dark-gray);
    border-radius: 12px
}

.header {
    /* display: grid;
    grid-template-columns: 1fr 2fr;   */
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding: 3rem 0;
}

.fullname, .sectionName {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 200;
}

.mainResume {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 3rem;
}

.personal {
    text-align: end;
}

.section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.work {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.workPlace {
    display: flex;
    justify-content: space-between;
}

.companyName, .schoolName, .skillsHeader {
    font-weight: 600;
    font-size: 1.1rem;
}

.companyPosition {
    font-weight: 400;
    /* color: var(--gray); */
}

.date {
    display: flex;
    gap: 4px;
    font-weight: 400;
    color: var(--gray);
}

.education {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width:780px) {
    .resume {
        border: none;
    }
    .mainResume {
        padding: 1rem;
    }
    .header {
        /* grid-template-columns: 1fr; */
        flex-direction: column;
        /* gap: 20px; */
        padding-bottom: 0;
    }
    .personal {
    text-align: start;
}
    .section {
        grid-template-columns: 1fr;
    }
    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
    .workPlace {
        flex-direction: column;
    }
    .date {
        font-weight: 400;
        color: var(--gray);
    }
    .education {
        flex-direction: column;
    }
    .fullname, .sectionName {
        padding-bottom: .2rem;
    }
}