h2 {
	padding: 0;
	margin: 0;
}

.heading {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 180px;
	max-width: 1100px;
	
}

.textModern, 
.textTechStack {
	position: relative;
}

.headingText,
.headingTextHidden {
	font-size: 10rem;
	line-height: 1;
	overflow: hidden;
}

.headingTextHidden {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.topGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
}

.topGrid div {
    border-right: 1px solid var(--bg-alt);
    border-bottom: 1px solid var(--bg-alt);
}

.topGrid div:last-child {
    border-right: none;
}

.bottomGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
}

.bottomGrid div {
    border-right: 1px solid var(--bg-alt);
}

.bottomGrid div:last-child {
    border-right: none;
}

.icon {
	width: 100%;
	padding: 100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
}

.icon svg {
	transition: all 0.3s ease;
}

.icon:hover {
	background-color: var(--fg);
}
.icon:hover svg {
	fill: var(--bg);
}

.mobileGrid {
	display: none;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

.mobileGrid div {
    border-bottom: 1px solid var(--bg-alt);
}

.mobileGrid div:last-child {
    border-bottom: none;
}
.mobileGrid div:nth-last-child(2) {
    border-bottom: none;
}

.rightBorder {
    border-right: 1px solid var(--bg-alt);
}
@media screen and (max-width: 960px) {
	.topGrid {
		display: none;
	}

	.bottomGrid {
		display: none;
	}

	.mobileGrid {
		display: grid;
	}

	.icon {
		width: 100%;
		padding: 80px 0;
	}
}

@media screen and (max-width: 1080px) {
	.headingText,
	.headingTextHidden {
		font-size: 8rem;
	}
}

@media screen and (max-width: 900px) {
	.headingText,
	.headingTextHidden {
		font-size: 6rem;
	}
}

@media screen and (max-width: 680px) {
	.headingText,
	.headingTextHidden {
		font-size: 4rem;
	}
}

@media screen and (max-width: 480px) {
	.headingText,
	.headingTextHidden {
		font-size: 3rem;
	}
}

@media screen and (max-width: 360px) {
	.headingText,
	.headingTextHidden {
		font-size: 3rem;
	}
}